.garden {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.app-footer {
  text-align: center;
  margin: 30px;
  border-top: 2px solid #ccc;
}
.App-header {
  text-align: center;
  margin: 20px;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  text-align: center;
  font-size: 30px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
